.header {
    height: 125px;
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 600;
}

.header--color {
    color: #83d16b;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}

.header__link {
    margin-left: 25px;
    cursor: pointer;
}

.header__link:hover {
    color: #83d16b;
    transition: color .1s linear;
}

.header--active {
    color: #83d16b;
}

@media (max-width: 770px) {
    .header__nav {
        display: none;
    }
}

@media (max-width: 540px) {
    
}


@media (max-width: 320px) {
    
}