.header {
    height: 125px;
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 600;
}

.header--color {
    color: #83d16b;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.header__link {
    margin: 10px 20px;
    cursor: pointer;
}

.header__link:hover {
    color: #83d16b;
    transition: color .1s linear;
}

.header--active {
    color: #83d16b;
}